body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/* Fondo dinamico */

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(238, 235, 235) 50%, rgb(199, 228, 248) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 10s;
}

.bg3 {
    animation-duration: 10s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 50px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.input-contenedor small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0
}

.input-contenedor sucess {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0
}
.input-contenedor-one sucess {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0
}

.input-contenedor-one {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.input-contenedor-one input {
    width: 100%
}

.input-contenedor-one>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-contenedor-one small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 50px;
        border-radius: 2%;
    }
}

.img_login {
    text-align: center;
    margin-top: 20px;
}